#Junk Files
*.DS_Store
[Tt]humbs.db

#Visual Studio Files
[Oo]bj
[Bb]in
[Dd]ebug
[Bb]uild/
*.user
*.suo
*.exe
*.pdb
*.aps
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.[Cc]ache
*.bak
*.ncb
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/ 
*.dbmdl
*.csproj.user
*.cache
*.swp
*.vspscc
*.vssscc
*.bak.*
*.bak
*.vsidx
*.manifest

#Tools
_ReSharper.*
_ReSharper*/
*.resharper
*.resharper.user
[Nn][Dd]epend[Oo]ut*/
Ankh.NoLoad

#Other
.svn
Task1/.vs/ProjectEvaluation/task1.metadata.v5.1
Task1/.vs/ProjectEvaluation/task1.projects.v5.1
Task1/.vs/Task1/DesignTimeBuild/.dtbcache.v2
Task1/.vs/Task1/FileContentIndex/read.lock
Task1/.vs/Task1/v17/.futdcache.v2
Task1/.vs/Task1/v17/TestStore/0/000.testlog
Task1/Task1.sln
